{{extend 'layout.html'}}

<h1 data-toggle =" popover" title ="Locations are used to group events and they can be physical or virtual.  All events must have a location and as a creator of a location you can choose if it is shared with other users so they can add events or if only you as the owner of the event can do this." data-content="">Create Location</h1>


{{=form}}


{{block right_sidebar}}


{{end}}

<script>
    {{#include 'location/new_location.js'}}
</script>


<div id="map" style="width: 500px; height: 400px;"></div>

{{# TODO move to separate script presently as part of plugin}}


<script>

$("#geocode").click(function(){
         //console.log("geocode was clicked");

   var address = $("#locn_address1").val( ).concat(" ", $("#locn_address2").val( ), " ",  $("#locn_address3").val( ), " ",  $("#locn_address4").val( ), " ",  $("#locn_country").val( ));
    console.log(address);
        });

        
/*
         $("#formtest").geolocate({
	lat: "#locn_geox",
	lng: "#locn_geoy",
	address: ["#locn_address1","#locn_address2","#locn_address3","#locn_address4","#locn_country"]
});
*/


$("#rev_geocode").click(function(){
         console.log("rev geocode was clicked");
    });

    
  </script>



 


