{{extend 'layout.html'}}

<h1 data-toggle =" popover" title ="Locations are used to group events and they can be physical or virtual.  All events must have a location and as a creator of a location you can choose if it is shared with other users so they can add events or if only you as the owner of the event can do this." data-content="">Create Location</h1>


{{=form}}


{{block right_sidebar}}


{{end}}

<script>
    {{#include 'location/new_location.js'}}
</script>



{{# TODO move to separate script presently or make part of plugin}}


<script>

if (navigator.geolocation) {
  navigator.geolocation.getCurrentPosition(success);
} else {
  error('Geo Location is not supported');
}


function geo_refresh() {
console.log('ref')
$("#lw_map").geolocate({
	lat: "#lw_lat",
	lng: "#lw_lng"
});
    };


function success(position) {
     $("#lw_lat").val(position.coords.latitude);
     $("#lw_lng").val(position.coords.longitude);
     geo_refresh();
    };
   
$("#lw_lng" ).change(function() {
     geo_refresh();
});   

$("#lw_lat" ).change(function() {
     geo_refresh();
});  

$("#geocode").click(function(){
    $("#lw_map").geolocate({
    lat: "#lw_lat",
	lng: "#lw_lng",
	address: ["#locn_address1","#locn_address2","#locn_address3","#locn_address4","#locn_country"]
});
$("#lw_map").geolocate("callGeocoding");
        });


$("#rev_geocode").click(function(){
         console.log("Not going to implement this for now");
    });
    
  </script>



 


